---
import Layout from '../layouts/Layout.astro';
import Articulo from '../components/Articulo.astro';
import { type APIResponseBlogs} from "../types/apiBlogs"

const url = `${import.meta.env.PUBLIC_API_URL}/posts?populate=image`
const respuesta = await fetch(url)
const {data : articulos} = (await respuesta.json()) as APIResponseBlogs

---

<Layout title="guitarLA - Blog" description="GuitarLa ,Tiendita Guitarras , blogs , articulos musicales">
	<h1 class="title">Blog</h1>

	<section class="blog grid gap-2 md:gap-6 lg:gap-10 md:grid-cols-2 lg:grid-cols-3 py-16">
		{
			articulos?.map( (art)=>(
				<Articulo 
					title={art.attributes.title}
					url={art.attributes.url}
					imagen={art.attributes.image.data.attributes.url}
					contenido={art.attributes.content[0].children[0].text}
					fecha={art.attributes.createdAt}
				
				/>
			))
		}
	</section>
</Layout>
