---
import { Image } from "astro:assets";
import Layout from "../../layouts/Layout.astro";
import { formatearMoneda } from "../../lib/index";

export async function getStaticPaths() {
  const url = `${import.meta.env.PUBLIC_API_URL}/guitarras?populate=image`;
  const respuesta = await fetch(url);
  const { data } = await respuesta.json();

  return data.map((guitarra) => ({
    params: {
      id: guitarra.attributes.url,
    },
    props: {
      guitarra: guitarra.attributes,
    },
  }));
}
const { id } = Astro.params;
const { guitarra } = Astro.props;
const { name, price, description, image } = guitarra;
const texto = description[0]?.children[0]?.text;
const imagen = image.data?.attributes?.url;
---

<Layout
  title=`guitarLA - ${id}`
  description="GuitarLa ,Tiendita Guitarras , blogs , articulos musicales"
>
  <h1 class="title">Guitarra - {id}</h1>

  <article
    class="relative bg-white shadow p-6 lg:p-10 my-16 max-w-[820px] mx-auto rounded w-11/12 grid gap-4 md:gap-8 md:grid-cols-2 md:items-center"
  >
    <Image
      src={imagen}
      width={250}
      height={120}
      alt={`imagen imagen-guitarra-${id}`}
      class="mx-auto block"
    />
    <div class="text-center md:text-left space-y-4">
      <h2 class="text-yellow-400 font-bold text-2xl">{name}</h2>
      <p class="text-gray-500">{texto}</p>
      <p class="font-bold text-2xl text-yellow-400">
        Precio: <span class="text-gray-800 font-normal"
          >{formatearMoneda(price)}</span>
      </p>

      <form>
        <div class="flex flex-col gap-2">
          <label for="cantidad" class="text-slate-800 font-bold text-lg"
            >Cantidad</label
          >
          <select
            id="cantidad"
            class="py-2 border border-gray-400 rounded-md text-center font-bold max-w-[220px] mx-auto md:m-0 w-full"
          >
            <option value="0"> --- Seleccione ---</option>
            <option value="1"> 1</option>
            <option value="2"> 2</option>
            <option value="3"> 3</option>
            <option value="4"> 4</option>
            <option value="5"> 5</option>
          </select>
        </div>
        <div class="pt-6">
          <button
            type="submit"
            class="text-center bg-orange-300 hover:bg-orange-400 py-2 w-full rounded-md text-white uppercase font-bold hover:tracking-wider hover:transition-all"
            >Agregar al Carrito</button
          >
        </div>
      </form>
    </div>
    <a href="/tienda" class="text-blue-600 absolute top-4 right-4">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="w-7 h-7"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="m11.25 9-3 3m0 0 3 3m-3-3h7.5M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"
        ></path>
      </svg>
    </a>
  </article>
</Layout>
